body{
    text-align: center;
    margin: 0px;
    display: flex;
    /* to make the body in the middle of the page */
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    
   
}
#calculator{
    background-color: rgba(0, 0, 0, 0.815);
    border-radius: 15px;
    max-width: 250px;
    overflow: hidden;
}
#display{
    width: 450px;
    height: 50px;
    background-color: rgb(129, 127, 127);
    border: none;
    color: white;
    font-weight: bold;
    font-size: 20px;

}



#keys{
    display: grid;
     grid-template-columns: repeat(4,1fr);  
     gap: 5px;
    padding: 10px;
}

button{
    /* display: grid;
    grid-template-columns: repeat(4,5rem); */
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: none;
    /* padding: 2rem; */
    text-align: center;
    background-color: rgba(0, 0, 0,70%);
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19PX;
    cursor: pointer;
}
button:hover{
    background-color:rgba(184, 175, 175, 0.126);
}
button:active{
    background-color: rgba(243, 226, 226, 0.808);
}
.operator{
    background-color: orange;
}
.operator:hover{
    background-color: rgb(222, 181, 104);
}
.operator:active{
    background-color: rgb(249, 229, 192);
}